<head>
  <meta charset="UTF-8" />
  <title>Tabs</title>
</head>
<body>
  <h1 class="title">Cool beans</h1>
  <div class="tab">
    <div class="button">
      <button class="tabButton" data-for-tab="1">bro</button>
      <button class="tabButton" data-for-tab="2">why</button>
      <button class="tabButton" data-for-tab="3">do</button>
      <button class="tabButton" data-for-tab="4">i</button>
    </div>
    <div class="tabInfo" data-tab="1">bro shiiiiit</div>
    <div class="tabInfo" data-tab="2">whyyyy shiiiiiit</div>
    <div class="tabInfo" data-tab="3">do shiiiiiiit</div>
    <div class="tabInfo" data-tab="4">im not shiiiiiit</div>
  </div>
</body>

<router-outlet></router-outlet>
